/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
  border: none;
  background: none;
	padding: 0;
}
a {
	text-decoration: none;
	color: var(--bs-dark);
}
img {
	margin: 0;
	padding: 0;
	vertical-align: top;
}
select {
	-webkit-appearance: none; 
  -moz-appearance: none; 
  appearance: none; 
  display: inline-block;
	background: url(img/icon_arrow_down.png)no-repeat center right 16px;
}
textarea:active,
textarea:focus,
input:active,
input:focus,
select:focus,
select:active {
	outline: none;
}
textarea {
	width: 100%;
	height: 10rem;
	border: none;
	resize: none;
	box-sizing: border-box;
}

/* 전체설정 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

*, body, html {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.screen {
  width: 100%;
  min-height: 500px;
}
:root {
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-dark: #1B1B1B;
  --bs-light:#ffff;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #F0F0F0;
  --bs-gray-300: #E7E7E7;
  --bs-gray-400: #DCDCDC;
  --bs-gray-500: #BFBFBF;
  --bs-gray-600: #848586;
  --bs-gray-700: #595A5A;
  --bs-gray-800: #393b3d;
  --bs-gray-900: #292B2D;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
}

/* 레이아웃 */
.d-flex {
  display: flex;
}
.jc-between {
  justify-content: space-between;
}
.jc-center {
  justify-content: center;
}
.jc-start {
  justify-content: start;
}
.jc-end {
  justify-content: end;
}
.ai-center {
  align-items: center;
}
.ai-start {
  align-items: flex-start;
}
.ai-end {
  align-items: flex-end;
}

.gap8 {
  gap: 0.5rem;
}
.gap16 {
  gap: 1rem;
}

.d-grid {
  display: grid;
}

.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
.p-fixed {
  position: fixed;
}
.p-sticky {
  position: sticky;
}

.bottom {
  position: absolute;
  bottom: 1.5rem;
  width: calc(100% - 2rem) !important;
}

/* containers */
.container 
.container-sm,
.container-lg {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-left: calc(var(--bs-gutter-x)* .5);
}
.container {
  padding: 1rem;
  margin-bottom: 1rem;
}
.container-b {
  padding: 0.75rem;
  padding-bottom: 5rem;
}
.lbox {
  margin-bottom: 1rem;
}
.lbox div {
  border-bottom: 1px solid var(--bs-gray-500);
}
.lbox p {
  padding: 0.5rem 0.5rem ;
}
.lbox.off p {
  background: var(--bs-gray-100);
}
/* 폰트 크기 */
.fs-10 {
  font-size: 0.625rem;
}
.fs-12 {
  font-size: 0.75rem;
}
.fs-14 {
  font-size: 0.875rem;
}
.fs-16 {
  font-size: 1rem;
}
.fs-18 {
  font-size: 1.125rem;
}
.fs-20 {
  font-size: 1.25rem;
}
.fs-24 {
  font-size: 1.5rem;
}
.fs-32 {
  font-size: 2rem;
}
.fs-40 {
  font-size: 2.5rem;
}

/* 말줄임 */
.ellipsis {
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: keep-all;
}
/* 말줄임 2줄 IE 설정 */
.mulit-line-ellipsis {
  overflow: hidden;
  line-height: 1.2em;
  max-height: 3.6em;
}

/* 폰트 굵기 */
.fw-t {
  font-weight: 100;
}
.fw-el {
  font-weight: 200;
}
.fw-l {
  font-weight: 300;
}
.fw-r {
  font-weight: 400;
}
.fw-m {
  font-weight: 500;
}
.fw-sb {
  font-weight: 600;
}
.fw-b {
  font-weight: 700;
}
.fw-eb {
  font-weight: 800;
}
.fw-bb {
  font-weight: 900;
}

/* margin */
.mt-0  {
  margin: 0 !important;
}
.mt-05 {
  margin: 0.5rem 0 !important;
} 
.mt-1 {
  margin: 1rem 0 !important;
}
.mt-2 {
  margin: 2rem 0 !important;
}
.mt-3 {
  margin: 3rem 0 !important;
}
.mt-4 {
  margin: 4rem 0 !important;
}
.mt-5 {
  margin: 5rem 0 !important;
}
.mt-6 {
  margin: 6rem 0 !important;
}

/* 글자 정렬 */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

/* 버튼 */
.btn {
  margin: .75rem 0;
}
.btn-g {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: .75rem .125rem;
}
.btn-b1 button,
button.btn-b1 {
  display: block;
  width: 100%;
  padding: 1rem 0;
  background: var(--bs-gray-800);
  color: var(--bs-light);
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 700;
}
.btn-s1 button {
  font-size: 1rem;
}
.btn-g button {
  width: 100px;
}
button.btn-b-line {
  display: block;
  width: 100%;
  padding: 1rem 0;
  border: 1px solid var(--bs-gray-800);
  background: var(--bs-light);
  color: var(--bs-gray-800);
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 700;
}
button.p-fixed {
  width: calc(100% - 2rem);
  bottom: 1.5rem;
}
button.btn-b-line.p-fixed {
  width: calc(100% - 2rem);
  bottom: 5.25rem;
}
.secession { 
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem 0 ;
  color: var(--bs-gray-600);
}
.appBar  .bookmark {
  width: 24px;
  height: 24px;
  background: url('../img/icon-bookmark-line-c.png') no-repeat center; 
  border: 0; 
  display: block;
}
.appBar.on  .bookmark {
  background: url('../img/icon-bookmark-fill-c.png') no-repeat center;
  animation: beating .5s 1 alternate;
}

.list-1 .bookmark {
  width: 24px;
  height: 24px;
  background: url('../img/icon-bookmark-fill-c.png')no-repeat center;
}
.enter {
  width: 24px;
  height: 24px;
  background: url('../img/icon-arrow-right.png')no-repeat center;
}
.floating.write {
  position: fixed;
  z-index: 9;
  right: 1rem;
  bottom: 5rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  background: var(--bs-gray-800) url('../img/icon-pencil-line.png')no-repeat center;
}

/* 검색 */
.serach {
  width: 24px;
  height: 24px;
  background: url('../img/icon_search.png')no-repeat center;
}
.appBar input {
  width: 100%;
  padding: 0.875rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--bs-gray-400);
  font-size: 1rem;
}
.serach-wrap h2 {
  font-size: 0.875rem;
  color: var(--bs-gray-700);
}
.serach-wrap ul {
  border-bottom: 1px solid var(--bs-gray-200);
}
.serach-wrap li {
  padding: 0.75rem 0;
}

/* input - text */
.input-t-1 {
  margin-bottom: 16px;
}
.input-t-1 h3{
  font-size: 1rem !important;
  font-weight: 600;
  margin: 0 !important;
}
.input-t-1 input {
  width: 100%;
  padding: 0.75rem 0.5rem;
  border: none;
  border-bottom: 1px solid var(--bs-gray-500);
  transition: all 0.5s;
  box-sizing: border-box;
}
.input-t-1 input:focus,
.input-t-1:focus button,
.input-t-1 input:active,
.input-t-1:active button {
  border-bottom: 1px solid var(--bs-gray-800);
}
.input-t-1 input::placeholder {
  color: var(--bs-gray-500);
  font-weight: 300;
}
.input-t-1 div {
  display: flex;
}
.input-t-1 button {
  width: 35%;
  font-weight: 700;
  border-bottom: 1px solid var(--bs-gray-500);
}
.input-t-1 .time {
  display: none;
  font-size: 0.875rem;
  color: var(--bs-danger);
}
.input-t-1 .time.on {
  display: block;
}
.warning {
  display: none;
  font-size: 0.875rem;
  color: var(--bs-danger);
}
.success {
  display: none;
  font-size: 0.875rem;
  color: var(--bs-success);
}
.info {
  font-size: 0.875rem;
  color: var(--bs-gray-600);
}
.success.on,
.warning.on {
  display: block;
}

/* input - checkbox */
input[type=checkbox] {
  display: none;
}
.input-c-1 label {
  display: flex;
  gap: 8px;
  align-items: center;
}
.input-c-1 label::before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid #9d9d9d;
  border-radius: 4px;
}
.input-c-1 input:checked + label::before  {
  background: #3D3D3D url('../img/icon-check.png')no-repeat center;
  border: 1px solid #3d3d3d;
}
.input-c-2 {
  display: flex;
  justify-content: space-between;
}
.input-c-2 label {
  display: flex;
  gap: 8px;
  align-items: center;
}
.input-c-2 label::before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background: url('/img/icon-check-off.png')no-repeat center;
}
.input-c-2 input:checked + label::before {
  background: url('/img/icon-check-on.png')no-repeat center;
}

/* nav */
.nav {
  display: flex;
  justify-content: space-around;
  position: fixed;
  z-index: 8;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0.75rem 0;
  border-top: 1px solid #eee;
  background: var(--bs-light);
}
.nav li {
  width: 60px;
  text-align: center;
}
.nav li p {
  font-size: 0.75rem;
  color: #9d9d9d;
}
.nav li:nth-child(1) div {
  width: 24px;
  height: 24px;
  margin: 0 auto;
  background: url(../img/icon-bell.png)no-repeat center;
  background-size: cover;
}
.nav li:nth-child(2) div {
  width: 24px;
  height: 24px;
  margin: 0 auto;
  background: url(../img/icon-home.png)no-repeat center;
}
.nav li:nth-child(3) div {
  width: 24px;
  height: 24px;
  margin: 0 auto;
  background: url(../img/icon-profile.png)no-repeat center;
}
.nav li.on p{
  color: var(--bs-dark);
  font-weight: 600;
}
.nav li:nth-child(1).on div {
  background: url(../img/icon-bell-on.png)no-repeat center;
}
.nav li:nth-child(2).on div {
  background: url(../img/icon-home-on.png)no-repeat center;
}
.nav li:nth-child(3).on div {
  background: url(../img/icon-profile-on.png)no-repeat center;
}
/* appbar */
.appbar .center {
  font-weight: 700;
}
.appBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  gap: 1rem;
}
.backBtn {
  width: 24px;
  height: 24px;
  background: url('../img/icon-arrow-back.png')no-repeat center;
}
.setting {
  width: 24px;
  height: 24px;
  background: url('../img/icon-setting.png')no-repeat center;
}
.appBar .blank {
  width: 24px;
  height: 24px;
}
.appBar .etc,
.etc {
  width: 24px;
  height: 24px;
  background: url('../img/icon_etc.png')no-repeat center;
}
/* 탭 메뉴 tab menu */
.tab-content{
	display:none;
}
.tab-content.active {
	display:block;
}
.tab-title {
  display: flex;
}
.tab-item {
  width: calc(100%/2);
  text-align: center;
  padding: 1rem 0;
  border-bottom: 1px solid var(--bs-gray-500);
}
.tab-item a {
  font-size: 1rem;
  color: var(--bs-gray-600);
}
.tab-item.active {
  border-bottom: 1px solid var(--bs-dark);
}
.tab-item.active a {
  color: var(--bs-dark);
  font-weight: 700;
}

/* 아코디언 */
.accordion {
  border-bottom: 1px solid var(--bs-gray-500);
}
.accordion-wrap {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
.accordion-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.875rem 0;
}
.accordion-question span {
  font-size: 0.875rem;
  color: var(--bs-gray-600);
}
.accordion-question .wait  {
  font-size: 0.75rem;
  color: var(--bs-gray-500);
}
.accordion-question .complete  {
  font-size: 0.75rem;
  color: var(--bs-danger);
}
.accordion-question .d-flex {
  gap: 0.75rem;
}
.accordion-title {
  font-weight: 700;
}
.accordion.active .accordion-wrap {
  max-height: 1000px;
  transition: max-height 0.3s ease-in-out;
}
.accordion-text {
  padding-bottom: .875rem;
  color: var(--bs-gray-700);
}
.accordion-answer {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding: 0.876rem;
  background: var(--bs-gray-100);
  margin-bottom: 1rem;
}

/* slider 슬라이더 */
.slick-next, 
.slick-prev {
  display: none !important;
}
.slick-dots {
  display: flex;
  vertical-align: middle;
  margin: auto 0;
  padding: 0;
  justify-content: flex-end;
}
.slick-dots li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 6px;
  padding: 0;
}
.slick-dots li button {
  border: none;
  background: var(--bs-gray-500);
  color: transparent;
  cursor: pointer;
  display: block;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  padding: 0;
}
.slick-dots li.slick-active button {
  background-color: var(--bs-gray-800);
}
/* login 로그인 */
.logo {
  padding: 4rem 0 3rem;
  width: 150px;
  margin: 0 auto;
}
.logo img {
  max-width: 150px;
  max-height: 150px;
  object-fit: cover;
}
.sns {
  position: relative;
  color: var(--bs-gray-600);
}
.sns::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 35%;
  border-bottom: 1px solid var(--bs-gray-400);
} 
.sns::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 35%;
  border-bottom: 1px solid var(--bs-gray-400);
} 
.terms {
  width: 100%;
  height: 10rem;
  padding: 0.875rem 0.75rem;
  overflow-y: auto;
  border: 1px solid var(--bs-gray-500);
  border-radius: 4px;
  margin-top: 0.5rem;
}
.terms-list li {
  cursor: pointer;
  margin: 0.5rem 0;
}
.terms-list li p {
  position: relative;
  margin-left: 32px;
}
.terms-list li button {
  color: var(--bs-gray-600);
  text-decoration: underline;
}
.term-wrap {
  position: fixed;
  bottom: 100px;
  width: calc(100% - 2rem);
}
.terms-wrap .input-c-1{
  margin-top: 0.75rem;
}
.findid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh !important;
}
.findid h2 {
  font-weight: 600;
  color: var(--bs-gray-600);
}
.findid div img {
  display: block;
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin: 0 auto;
}
.findid div div {
  margin-top: 2rem;
  width: 100%;
  padding: 3rem 0;
  background: var(--bs-gray-200);
  font-size: 1.25rem;
  font-weight: 700;
}
/* notice 공지사항 */
.notice h2 {
  font-weight: 700;
}

/* main-menu 메인 */
.main-menu-1 {
  background: var( --bs-gray-100);
}
.main-menu-1 ul{
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.main-menu-1 ul li {
  width: calc(50% - 8px);
  padding: 1rem;
  border-radius: 0.75rem;
  background: #fff;
}
.main-menu-1 div ul li h3 {
  font-weight: 700;
}
.main-menu-1 div ul li h3 + div {
  margin-top: 1.25rem;
  text-align: right;
}

/* list */
.list-1 li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.875rem 0 ;
  border-bottom: 1px solid var(--bs-gray-200);
}
.list-1 li span {
  font-size: 0.875rem;
  color: var(--bs-gray-600);
}
.list-1 li h4 {
  font-size: 1rem;
}
.title {
  font-size: 1rem;
}
.list-line li {
  padding: 0.875rem 0;
  border-bottom: 1px solid var(--bs-gray-200);
}
.list-line li span {
  font-size: 0.875rem;
  color: var(--bs-gray-600);
}
/* board list  기본 게시판 */
.basic-list {
  margin: 1rem 0;
}
.basic-list  .list-item {
  display: flex;
  gap: 1rem;
  padding: .875rem 0;
  align-items: center;
  border-bottom: 1px solid var(--bs-gray-300);
}
.basic-list .list-item .profile {
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
  border: 1px solid var(--bs-gray-200);
}
.basic-list .list-item span {
  font-size: 0.875rem;
  color: var(--bs-gray-500);
}
.basic-list .list-item .d-flex {
  gap: 0.5rem;
}
.basic-list .boardImg {
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
}
.basic-list .boardImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* gallery 갤러리 게시판 */
.gallery-list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.gallery-list .list-item {
  width: calc((100% - 1rem)/2);
}
.gallery-list .boardImg {
  width: 100%;
  height: 180px;
  min-height: 150px;
}
.gallery-list .boardImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}
.board-title {
  padding: 0.5rem 0 0.25rem;
  font-weight: 600;
}
.board-date {
  font-size: 0.875rem;
  color: var(--bs-gray-500);
}

.board-wrap .board-top {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--bs-gray-300);
}
.board-contents {
  padding: 1rem 0;
  color: var(--bs-gray-800);
  margin-bottom: 3rem;
}
.board-contents img {
  width: 100%;
  object-fit: cover;
}
.board-contents iframe {
  margin: 0.5rem 0;
}
.board-contents .example caption {
  padding-bottom: 0.5rem;
  text-align: left;
  font-weight: 600;
  font-size: 1.25rem;
}
.board-contents .example {
  width: 100%;
  margin-bottom: 1rem;
}
.board-contents .example th {
  padding: 0.75rem 0;
  background: var(--bs-gray-200);
}
.board-contents .example td{
  text-align: center;
  padding: 0.75rem 0;
  border: 1px solid var(--bs-gray-200);
}
.board-contents .detail {
  border-bottom: 1px solid var(--bs-gray-500);
}
.board-contents .detail .btn-g {
  margin: 3rem 0 2rem;
}
.board-contents .detail .btn-g button {
  width: calc(50% - 1rem);
  padding: 0.75rem;
  border: 1px solid var(--bs-gray-300);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 0.875rem;
}
.board-contents .detail .like {
  width: 24px;
  height: 24px;
  background: url('../img/icon-heart-line.png') no-repeat center / 20px; 
  border: 0; 
  display: block;
}
.board-contents .detail button.on .like {
  background: url('../img/icon-heart-fill.png') no-repeat center / 20px; 
  animation: beating .5s 1 alternate;
}
.board-contents .detail .bookmark {
  width: 24px;
  height: 24px;
  background: url('../img/icon-bookmark-line-c.png') no-repeat center / 20px; 
  border: 0; 
  display: block;
}
.board-contents .detail button.on .bookmark {
  background: url('../img/icon-bookmark-fill-c.png') no-repeat center / 20px; 
  animation: beating .5s 1 alternate;
}
.comment-input {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 1rem 1.5rem;
  background: var(--bs-light);
}
.comment-input input {
  width: 94%;
  padding: 0.875rem 1rem;
  border: 1px solid var(--bs-gray-500);
  border-radius: 0.5rem;
}
.comment-input button {
  flex-shrink: 0;
  padding: 0.875rem;
  background: var(--bs-gray-800);
  color: var(--bs-light);
  border-radius: 0.5rem;
}
@keyframes beating {
  0% {transform: scale(1);}
  40% {transform: scale(1.25);}
  70% {transform: scale(0.9);}
  100% {transform: scale(1);}
}

.board-contents .comment-wrap {
  padding: 1rem 0;
}
.comment-wrap h2 {
  font-weight: 700;
  margin-bottom: 1rem;
}
.comment-wrap .comment {
  margin-bottom: 1rem;
}
.comment-wrap .comment.re {
  margin-left: 1rem;
}
.comment-wrap .name {
  font-weight: 600;
}
.comment-wrap .text {
  padding: 0.25rem 0;
  color: var(--bs-gray-700);
}
.comment-wrap .d-flex {
  gap: 2rem;
  align-items: center;
}
.comment-wrap .date {
  font-size: 0.875rem;
  color: var(--bs-gray-600);
}


/* mypage 마이페이지 */
.mypage-top {
  width: 100%;
  padding: 8rem 1rem 1.5rem;
  background: var(--bs-gray-800);
}
.mypage-top h2 {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--bs-light);
}
.meni-item {
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  border-bottom: 1px solid var(--bs-gray-300);
}

/* inquiry 문의하기 */
.inquiry-1 {
  width: 100%;
  margin: 1.25rem 0;
}
.inquiry-1 > * {
  margin-bottom: 0.875rem;
  font-size: 1rem;
}
.inquiry-1 select{
  width: 100%;
  padding: 0.875rem 0.75rem;
  border: 1px solid var(--bs-gray-500);
  border-radius: 4px;
  background: url('../img/icon_arrow_down.png')no-repeat center right 1rem;
}
.inquiry-1 input[type="text"] {
  width: 100%;
  padding: 0.875rem 0.75rem;
  border: 1px solid var(--bs-gray-500);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.5;
}
.inquiry-1 textarea {
  width: 100%;
  padding: 0.875rem 0.75rem;
  border: 1px solid var(--bs-gray-500);
  border-radius: 4px;
}
.filebox {
  position: relative;
}
.filebox input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
.filebox .upload-name {
  display: inline-block;
  padding:  0.875rem 0.75rem;
  vertical-align: middle;
  border: 1px solid var(--bs-gray-500);
  border-radius: 4px;
  width: 100%;
  color: var(--bs-gray-600);
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.5;
}
.filebox label {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.filebox img {
  position: absolute;
  top: 0.875rem;
  right: 1rem;
}
.novalue {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--bs-gray-600);
}

.contents {
  position: relative;
  width: 100%;
  height: 100%;
}
.contents h2 {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 700;
  word-break: keep-all;
}
.contents h3 {
  margin: 1rem 0;
  font-size: 1.25rem;
  font-weight: 700;
}
.contents h4 {
  margin: 1rem 0 0.25rem;
  font-size: 1rem;
  font-weight: 700;
}

/* calendar 캘린더 */
.fc .fc-view-harness {
  height: 426px !important;
}
.fc .fc-toolbar {
  align-items: flex-end !important;
}
.fc-toolbar-title {
  font-size: 1.25rem !important;
  font-weight: 600;
}
.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 1rem;
}
.fc .fc-daygrid-day-number {
  font-size: 0.875rem;
}
.fc .fc-col-header-cell-cushion {
  font-weight: 600;
}
.fc .fc-daygrid-day-top {
  justify-content: center;
}
.fc-theme-standard td, .fc-theme-standard th,
.fc-theme-standard .fc-scrollgrid {
  border: none;
}
.fc .fc-button-primary,
.fc .fc-button-primary:hover,
.fc .fc-button-primary:active,
.fc .fc-button-primary:focus  {
  background-color: var(--bs-light) !important;
  color: var(--bs-gray-800) !important;
  outline: 0 !important;
  border: 0 !important;
}
.fc .fc-button-primary:disabled {
  background-color: var(--bs-light);
  border-color: var(--bs-light);
  color: var(--bs-dark); 
}
.calendar-contents {
  padding: 1rem 0;
  border-top: 1px solid var(--bs-gray-200);
}
.calendar-contents h2 {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 700;
}
.schedule-wrap li .date {
  margin-top: 0.5rem;
  font-weight: 600;
  color: var(--bs-gray-600);
}
.schedule-item {
  margin-top: 0.5rem;
  padding: 1.5rem;
  background: var(--bs-gray-800);
  color: var(--bs-light);
  border-radius: 1rem;
}
.schedule-item .name {
  font-weight: 700;
}
.schedule-item .place {
  margin-top: 1rem;
  color: var(--bs-gray-400);
}

/* write 글쓰기 */
.contents.write input:first-child {
  width: 100%;
  padding: 1rem 0;
  border: 0;
  border-bottom: 1px solid var(--bs-gray-400);
  font-size: 1rem;
}
.contents.write textarea {
  height: 70vh;
  padding: 1rem 0;
  border: 0;
  resize: none;
  font-size: 1rem;
}
.contents.write .bottom {
  position: fixed; 
  left: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100vw !important;
  padding: 1rem 1rem 1.5rem;
  background: var(--bs-light);
}
.contents.write .bottom .image label {
  display: block;
  width: 24px;
  height: 24px;
  background: url('../img/icon-photo.png')no-repeat center;
}
.contents.write input[type='file'] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
.btn-b1 a {
  display: block;
  color: var(--bs-light);
}
/*  popup 팝업 */
.popup-wrap {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 25%);
}
.popup.on,
.popup-wrap.on  {
  display: block;
}
.popup {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 11;
  padding: 2rem 1rem;
  background: var(--bs-light);
  text-align: center;
  border-radius: 1.5rem 1.5rem 0 0;
}
.popup button {
  font-size: 1rem;
  font-weight: 600;
}
.popup h2 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.popup p {
  font-weight: 500;
  color: var(--bs-gray-600);
  margin-bottom: 2rem;
}
.popup .btn-g button {
  width: calc(50% - 1rem);
  padding: 1rem 0;
  font-weight: 700;
  font-size: 1rem;
}
.popup .btn-g button.off {
  border-radius: 1rem;
  color: var(--bs-gray-700);
  background: var(--bs-gray-400);
}
.popup .btn-g button.on {
  border-radius: 1rem;
  color: var(--bs-light);
  background: var(--bs-primary);
}
.popup .btn-g .line {
  width: 1px;
  height: 24px;
  background: var(--bs-gray-400);
}
.popupimg {
  margin: 0.5rem 0;
}
.open {
  display: block;
  width: 100%;
  height: 100%;
}

/* toggle 토글 */
.toggleBtn {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.toggleBtn input[type="checkbox"] {
  display: block;
  appearance: none;
  position: relative;
  border: max(2px, 0.1rem) solid var(--bs-gray-400);
  background: var(--bs-gray-400);
  border-radius: 1.25em;
  width: 3rem;
  height: 1.5rem;
}
.toggleBtn input[type="checkbox"]::before {
  content: "";
  position: absolute;
  left: 0;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  transform: scale(0.8);
  background-color: var(--bs-light);
  transition: left 0.25s linear;
}
.toggleBtn input[type="checkbox"]:checked {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}
.toggleBtn input[type="checkbox"]:checked::before {
  background-color: var(--bs-light);
  left: 1.5rem;
}
.toggleBtn input[type="checkbox"]:disabled {
  border-color: var(--bs-gray-200);
  opacity: 0.7;
  cursor: not-allowed;
}
.toggleBtn input[type="checkbox"]:disabled:before {
  background-color: var(--bs-light);
}